@page
@model SimpleWebApp.Pages.SecondPageModel

@{
    ViewData["Title"] = "Second page";
}

<h3>Second page model</h3>

<p>
    Azure Container Apps is a new service from Microsoft that allows you to run containerized applications and microservices on a fully managed serverless platform. It is designed to simplify the development, deployment, and scaling of modern apps without worrying about the underlying infrastructure or Kubernetes cluster.
    With Azure Container Apps, you can use any container image and any programming language to build your applications. You can also integrate with various event sources such as HTTP requests, storage queues, Kafka topics, and more. Azure Container Apps automatically scales your applications based on demand or schedule, and only charges you for what you use.
</p>